<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CS Tech</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>

    {% include "webApp/include/navbar.html" %}

    {% include "webApp/include/messages.html" %}

    <div class="container">
        {%  block content %}
        {% endblock %}
    </div>

    <div class="container-fluid">
        <hr>
        <p class="center-align">CS Tech&nbsp;&copy; - 2019</p>
    </div>

</body>
</html>